*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
  font-size: 100%;
  //colors
  --backgroundDark: rgb(113, 128, 133);
  --backgroundLight: rgb(226, 213, 213);
  --primary: #fefefe;
  --secondary: #000000;
  --workColor: orange;
  --breakColor: lime;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }