.settings-wrapper {
    min-width: 95%;
    margin: 3em auto 0;
    border: 2px solid var(--secondary);
    display: flex;

    @media (min-width: 70em) {
        min-width: 70%;
    }

    @media (min-width: 90em) {
        min-width: 50%;
    }

}

.settings {
    flex: 1 1 auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid var(--secondary);
    text-align: center;

    
    &__title,
    &__value {
        color: var(--primary);
        padding: .1em;
    }

    
    &__title {
        border-bottom: solid 2px var(--secondary);
        letter-spacing: 1px;
    }

    &__controls {
        margin: 0 auto;
        display: flex;
        width: 100%;
    }

    &__control,
    &__value {
        flex: 1 1 30%;
    }

    &__control {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;

        &:focus,
        &:hover {
            background-color: var(--backgroundLight);
            cursor: pointer;
        }
    }

    &__value {
        font-size: 2rem;;
        border-left: 1px solid var(--secondary);
        border-right: 1px solid var(--secondary);

    }
}